hardware/eps-backups
hardware/symbols/*.bak
hardware/#auto_saved_files#
hardware/*.lck
hardware/.kiri/
hardware/_autosave*
hardware/manufacturing/
hardware/production/
documentation/sphinx/.venv/
documentation/doxygen_output/
