name: Build and Generate Documentation

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-arm-none-eabi doxygen python3-pip cmake
        pip3 install -r documentation/sphinx/requirements.txt

    - name: Configure CMake
      run: cmake -B eps/firmware/build -S firmware

    - name: Build firmware
      run: cmake --build eps/firmware/build

    - name: Generate documentation
      run: cmake --build eps/firmware/build --target docs

    - name: Upload Doxygen documentation
      uses: actions/upload-artifact@v3
      with:
        name: doxygen-documentation
        path: documentation/doxygen_output/

    - name: Upload Sphinx documentation
      uses: actions/upload-artifact@v3
      with:
        name: sphinx-documentation
        path: firmware/build/documentation/sphinx/
